div.chat-message {
  position: relative;
  padding: 5px;
  margin: 30px 0 0.5em;
  color: #333;
  background: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.chat-message:before {
  position: absolute;
  top: -60px;
  left: 0;
  width: 155px;
  height: 36px;
  display: block;
}
div.chat-message:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50px;
  border: 15px solid transparent;
  border-bottom-color: #eee;
  display: block;
  width: 0;
}

p.timestamp {
  font-size: 8pt;
}

div.chat-message p.content {
  font-size: 28px;
  line-height: 1.25em;
}
div.chat-message p {
  margin: 0;
  font-size: 2em;
}
